<a href="https://colab.research.google.com/github/KASHYAPCHETAN438/Core-Python/blob/main/Python_Basics_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**INTRODUCTION OF PYTHON**

* High-level Language: Python is a simple, easy-to-read, and powerful programming language used for web development, data science, AI, automation, etc.

* Interpreted & Dynamically Typed: No need to compile, and you don’t declare data types explicitly.

* Beginner-Friendly: Uses simple syntax like English, which makes it easier to learn.

# print() Method :

* Purpose: Used to display output on the screen.

* Arguments:

      objects → values to print

      sep → separate two or more string or value (default = space " ")

      end → string added after output (default = newline \n)

In [ ]:
print("Hello", "World", sep="-", end="!!")   # By default sep is space (" ")  and end is next line ("\n")

print()

Hello-World!!hello mohit

# input() Method :

* Purpose: Used to take input from the user (always returns data as a string).

* Arguments:

      prompt → message shown to the user before input.

In [ ]:
name = input("Enter your name: ")
print("Welcome,", name)

Enter your name: Ram
Welcome, Ram

# Topic going to cover

1.   Variable
2.   Data type
3.   Operator
4.   Conditional Statement

============ Variable ==============

It like a container or a label for data.
which refer the chunks of memory block

In python variable is dyamically type so we don't need Specifie it's type

Allowed:

* Letters: a-z, A-Z

* Digits: 0-9 (but start me digit nahi aa sakta)

* Underscore (_): variable name underscore se start ya beech me ho sakta hai.


Not Allowed:

* Digit se start

    1name = "abc"      ❌

* Special symbols (@, #, $, %, etc.)

   na@me = "abc"      ❌  

Python keywords (reserved words)

* Keywords are special words Python already uses for its syntax, so unhe variable name nahi bana sakte.

    Example keywords: if, for, while, class, True, False, None, def, return...

      if = 5          ❌
      class = "A"     ❌


# Types of variable
1. Local Variable

    * Defined inside a function.

    * Can be used only inside that function.

2. Global Variable

    * Declared outside of all functions.

    * Accessible in the whole program.

3. Nonlocal Variable

    * Used inside nested functions.

    * Refers to the variable of the nearest enclosing (outer) function.

4. Instance Variable

    * Belongs to an object (instance of a class).

    * Defined inside __init__ using self.

5. Class (or Static) Variable

    * Shared by all objects of the class.

    * Defined inside the class but outside any method.

In [ ]:
# ❌ Wrong variable names example
# 1a = "name"    # Error: variable name can't start with digit
# if = 5         # Error: can't use keywords as variable name
# class = "A"    # Error: can't use keywords as variable name
# #   @xyz = 15      # Error: special characters not allowed





# ✅ Correct examples would be:
a1 = "name"
if_var = 5
class_var = "A"
xyz = 15


# ---------------- Local Variable ----------------
def my_func():
    x = 10
    print("Local variable:", x)   # x is local to my_func()

my_func()


# ---------------- Global Variable ----------------


x = 20   # Global variable

def show():
    print("\nGlobal variable inside function:", x)                   # access global variable

show()

print("Global variable outside function:", x)                      # global variable accessible everywhere





# ---------------- Nonlocal Variable ----------------



def outer():
    x = "outer"
    print("\nInitially in outer():", x)                             # First print statement

    def inner():
        nonlocal x                                                  # refers to 'x' in outer function, not global
        x = "changed"
        print("Nonlocal variable in inner():", x)                   # Second print statement

    inner()
    print("After inner() call in outer():", x)                      # Third print statement

outer()






# ---------------- Class Variable ----------------

class Student:
    college = "DSEU"                                                 # Class variable (shared by all objects)

    def __init__(self, name):
        self.name = name                                             # Instance variable (unique to each object)

s1 = Student("Mohit")
s2 = Student("Chetan")


# Accessing class variable through objects
print("\nClass variable via s1 & s2:", s1.college, ",", s2.college)


# Accessing instance variable
print("Instance variable:", s1.name, ",", s2.name)

Local variable: 10

Global variable inside function: 20
Global variable outside function: 20

Initially in outer(): outer
Nonlocal variable in inner(): changed
After inner() call in outer(): changed

Class variable via s1 & s2: DSEU , DSEU
Instance variable: Mohit , Chetan

# **============ DATA TYPE =============**

*   List item
*   List item




1. Definition

    A data type tells what kind of value a variable can store.

    Python is dynamically typed → you don’t need to declare the type, it is decided automatically based on the value.

    



2. Main Categories


 i. Numeric Types

    int → whole numbers (e.g., 10, -5)

    float → decimal numbers (e.g., 3.14, -2.5)

    complex → complex numbers (e.g., 3+4j)


 ii. Sequence Types

    str → strings/text (e.g., "Hello")

    list → ordered, mutable collection (e.g., [1, 2, 3])

    tuple → ordered, immutable collection (e.g., (1, 2, 3))

    range(start,end,step) , Immutable coolection (e.g ,range(1, 10, 2)



 iii. Set Types

    set → unordered, mutable collection of unique items (e.g., {1, 2, 3})

    frozenset → unordered, immutable set (e.g., frozenset({1, 2, 3}))


 iv. Mapping Type

    dict → mutable , order but in python 3.7 and above , key-value pairs
           (e.g., {"name": "Chetan", "age": 20})

 v. Boolean Type

    bool → immutable , unorder because it has only one value at a time (0,1) ,
          logical values True or False

 vi. None Type

    NoneType → represents the absence of a value (None)

In [ ]:
print("# ========= Numaric Data Type ==============\n")

a=5           # int type
print(a)
print(type(a))

b=5.2        # float type
print(b)
print(type(b))

c=2+3j       # complex type
print(c)
print(type(c))

# ========= Numaric Data Type ==============

5
<class 'int'>
5.2
<class 'float'>
(2+3j)
<class 'complex'>

In [ ]:
print("# ============ String =================\n")


s='Single Quote used'           # String Type ''
print(s)
print(type(s))


k="Double Quote used"           # String Type ""
print("\n",k)
print(type(k))


j='''Triple Quote used
     my name is Ram
                    '''                                      # String Type ''''''   allowed multiple line of code
print("\n",j)
print(type(j))

# ============String=================

Single Quote used
<class 'str'>

 Double Quote used
<class 'str'>

 Triple Quote used
     my name is Ram

<class 'str'>

In [ ]:
# we can define a list with list([1,2,3]) method , and a=[12,5,4,7]
# List(1,2,3,8 )---> Give error because List is a method which accepts only one argument")


print("\n============ List (Mutable , Duplicate , Order )======================\n")


l=[1,2,3,1]           # List Type []  it can store multiple types of data , allowed duplicate
print(l)
print(type(l))


cities_and_number=[1,"Delhi",2.4,[1,2,3],1]        # Duplicates allowed
print(cities_and_number)
print(type(cities_and_number))

cities_and_number.append(7)                       # Mutable , Order


print("\n\n",cities_and_number)
print("\n\n\n",list([1,2,3,8]))



 # print("\n\n\n",list(1,2,3,8 ))      # error

============ List (Mutable , Duplicate ,  )======================

[1, 2, 3, 1]
<class 'list'>
[1, 'Delhi', 2.4, [1, 2, 3], 1]
<class 'list'>


 [1, 'Delhi', 2.4, [1, 2, 3], 1, 7]



 [1, 2, 3, 8]

In [ ]:
# we can define a list with tuple(1,2,3) method , and a=(12,5,4,7)



print("\n#============Tuple==================\n")

t=(1,2,3,1)           # Tuple Type ()  it can store multiple types of data , allowed duplicate
# t[1]=5              # tuple is immutable we can't change , it don't have any method like add() , append()

print()
print(t)
print(type(t))



y=(1,1,"Delhi",2.4,[1,2,3])
print()
print(y)
print(type(y))



print("\n\n\n tuple(1,2,3,8 )---> Give error because tuple is a method which accepts only one argument")
print("\n",tuple([1,2,3])),

#============Tuple==================


(1, 2, 3, 1)
<class 'tuple'>

(1, 1, 'Delhi', 2.4, [1, 2, 3])
<class 'tuple'>



 tuple(1,2,3,8 )---> Give error because tuple is a method which accepts only one argument

 (1, 2, 3)

(None,)

**Type Checking**

Use type() to check a variable’s type

In [ ]:

print("\n#=============== Range ==============================\n")

print("range(1, 5)\n")

print("Why range 1 to 5 not print :")
print("because range is a special object that represents a sequence,")
print("but it doesn’t store all numbers directly — it’s lazy (generated on demand).")
print("We need to type caste it\n")

print(range(1, 5))
print(list(range(1, 5)))



print("\nRange with step")
print(range(1, 10, 2))        # step is given as the 3rd positional argument

print(range(4))              # if we pass only one argument then it's treated as last

print(list(range(4)))

#=============== Range ==============================

range(1, 5)

Why range 1 to 5 not print :
because range is a special object that represents a sequence,
but it doesn’t store all numbers directly — it’s lazy (generated on demand).
We need to type caste it

range(1, 5)
[1, 2, 3, 4]

Range with step
range(1, 10, 2)
range(0, 4)
[0, 1, 2, 3]

In [ ]:
a=4
print(type(a))

b=5.2
print(type(b))

c=2+3j
print(type(c))

d='Single Quote used'
print(type(d))

e=list([1,2,3])
print(type(e))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>

**Type Conversion**

Convert data types using built-in functions:

int(), float(), str(), list(), tuple(), set(), dict()

In [ ]:
# Integer
a = 5
print(a)
print(type(a))                   # int
print()


# Integer → Float
q = float(a)
print(q)
print(type(q))                   # float
print()


# Integer → String
b = str(a)
print(b)
print(type(b))                  # str
print()

# Integer → List (must give inside an iterable like range or string)
c = list(str(a))                # '5' → ['5']
print(c)
print(type(c))                  # list
print()



# Integer → Tuple
d = tuple(str(a))               # '5' → ('5',)
print(d)
print(type(d))                  # tuple
print()



# List → Set (removes duplicates)
my_list = [1, 2, 2, 3]
e = set(my_list)
print(e)
print(type(e))                # set
print()



# List of pairs → Dictionary
pairs = [(1, 'one'), (2, 'two')]
f = dict(pairs)
print(f)
print(type(f))  # dict

5
<class 'int'>

5.0
<class 'float'>

5
<class 'str'>

['5']
<class 'list'>

('5',)
<class 'tuple'>

{1, 2, 3}
<class 'set'>

{1: 'one', 2: 'two'}
<class 'dict'>

In [ ]:
a=5                   # Question of day-2
                      # Becasue integer is not iterble like string ,list, tuple
# b=list(a)
# print(type(b))

In [ ]:
print("\n ============ Mapping Type ================\n")

# Dictionaries (ordered, immutable, No duplicates)
d = {"Name": "Chetan", "Age": 20, "City": "Pune"}
print(d)                                                        # See the order of keys

# Add a new key
d["Country"] = "India"
print(d)                                                          # Check if keys stay in insertion order



d["Country"] = "US"                                               # Mutable
print(d)

d["Country"] = "US"                                               # No duplicate allow
print(d)


# Iterate over keys
for key in d:
    print(key)

# ============ Mapping Type ================

{'Name': 'Chetan', 'Age': 20, 'City': 'Pune'}
{'Name': 'Chetan', 'Age': 20, 'City': 'Pune', 'Country': 'India'}
{'Name': 'Chetan', 'Age': 20, 'City': 'Pune', 'Country': 'US'}
{'Name': 'Chetan', 'Age': 20, 'City': 'Pune', 'Country': 'US'}
Name
Age
City
Country

In [ ]:
print("\n ============ Set ================\n")


# Set (Unordered, Mutable, No duplicates)
s = {1, 2, 2, 3}              #  No error but it store only single element
print(s)                      # {1, 2, 3}
s.add(4)                      #  Works
print(s)



j={3,2,1,1}                  # unorder
print(j)

# ============ Set ================

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3}

In [ ]:
print("\n ============ FrozenSet ================\n")


# FrozenSet (Unordered, immutable, No duplicates)


# Normal set (mutable)
normal_set = {1, 2, 3}
print(normal_set)                            # {1, 2, 3}
normal_set.add(4)                            #  Works
print(normal_set)                            # {1, 2, 3, 4}



# Frozenset (immutable)
f_set = frozenset([1, 2, 3, 3, 2])
print(f_set)                                   # frozenset({1, 2, 3})

# f_set.add(4)                                 # ❌ ERROR: 'frozenset' object has no attribute 'add'




print()
f_set = frozenset([3, 1, 2])
print(f_set)                                       # frozenset({1, 2, 3}) → order may not match insertion

# ============ FrozenSet ================

{1, 2, 3}
{1, 2, 3, 4}
frozenset({1, 2, 3})

frozenset({1, 2, 3})

In [ ]:

print("\n# ============ Boolean ================\n")


a = True
b = False

print("Value of a:", a)
print(type(a))

print("Value of b:", b)
print(type(b))

# ============ Boolean ================

Value of a: True
<class 'bool'>
Value of b: False
<class 'bool'>

In [ ]:
# Byte and ByteArray give ASCII Values crossponding to symbole or alphabet
# It is a method byte() bytearray()
#                 ex : let 65 --> A



print("\n# ============ Bytes , ByteArray , MemoryView ================\n")


# Bytes (immutable)

a=bytes([65, 66, 67])
print(a)                                # b'ABC'
print(type(a))
print()




# Bytearray (mutable)

b=bytearray([65, 66, 67])              # bytearray(b'ABC')
print(b)
b.append(68)                          # Mutable
print(b)
print(type(b))
print()


f = bytes("@", "utf-8")               # String ko bytes me convert
print(f)                              # b'@'

# ============ Bytes , ByteArray , MemoryView ================

b'ABC'
<class 'bytes'>

bytearray(b'ABC')
bytearray(b'ABCD')
<class 'bytearray'>

b'@'

In [ ]:
# memoryview(obj)
# obj → Required.
# Must be a bytes-like object (e.g., bytes, bytearray, array.array, or any object supporting the buffer protocol).



print("\n# ======== Memoryview ==============")

print(memoryview(b'ABC'))            # <memory at 0x...>  here b'ABC' --> b define bytes
print(type(memoryview(b'ABC')))
print()

# ======== Memoryview ==============
<memory at 0x7fe574ae5c00>
<class 'memoryview'>

# **Data Type Summary**





| Data Type       | Ordered? | Mutable? | Duplicates Allowed? | Example                | Notes                           |
| --------------- | -------- | -------- | ------------------- | ---------------------- | ------------------------------- |
| **list**        | ✅ Yes    | ✅ Yes    | ✅ Yes               | `[1, 2, 2, 3]`         | Sequence, can store mixed types |
| **tuple**       | ✅ Yes    | ❌ No     | ✅ Yes               | `(1, 2, 2, 3)`         | Immutable list                  |
| **set**         | ❌ No     | ✅ Yes    | ❌ No                | `{1, 2, 3}`            | Unordered, no duplicates        |
| **frozenset**   | ❌ No     | ❌ No     | ❌ No                | `frozenset({1, 2, 3})` | Immutable set                   |
| **dict** (keys) | ✅ Yes\*  | ✅ Yes    | ❌ No (keys)         | `{"a": 1, "b": 2}`     | Keys ordered since Python 3.7   |
| **str**         | ✅ Yes    | ❌ No     | ✅ Yes               | `"hello"`              | Immutable text sequence         |
| **range**       | ✅ Yes    | ❌ No     | ❌ No                | `range(1, 5)`          | Sequence of numbers             |
| **bool**        | ❌ No     | ❌ No     | ❌ No                | `True`, `False`        | Only two values                 |
| **int**         | ❌ No     | ❌ No     | ❌ No                | `42`                   | Immutable number                |
| **float**       | ❌ No     | ❌ No     | ❌ No                | `3.14`                 | Immutable number                |
| **complex**     | ❌ No     | ❌ No     | ❌ No                | `2+3j`                 | Immutable number type           |
| **bytes**       | ✅ Yes    | ❌ No     | ✅ Yes               | `b"abc"`               | Immutable byte sequence         |
| **bytearray**   | ✅ Yes    | ✅ Yes    | ✅ Yes               | `bytearray(b"abc")`    | Mutable byte sequence           |

# **==========OPERATOR===========**

Types of operator


1. Arithmetic Operators → Maths operations (+, -, *, /, %, **, //).
2. Assignment Operators → Assign or update variable value (=, +=, -=, *=, /=, %=).

3. Relational / Comparison Operators → Compare values, result is True or alse (==, !=, >, <, >=, <=).

4. Logical Operators → Combine conditions (and, or, not).

5. Bitwise Operators → Work on bits (&, |, ^, ~, <<, >>).

6. Identity Operators → Check if two objects are the same in memory (is, is not).

7. Membership Operators → Check if value is in a sequence (in, not in)

In [ ]:
# Arithmatic Operator

a = 10          # Assignment Operatore ( assign right to left)
b = 12

print(a + b)    # Addition → 10 + 12 = 22
print(a - b)    # Subtraction → 10 - 12 = -2
print(a * b)    # Multiplication → 10 * 12 = 120
print(a / b)    # Division (float) → 10 / 12 ≈ 0.8333
print(a % b)    # Modulus → remainder of 10 ÷ 12 = 10
print(a // b)   # Floor Division → integer part of division = 0
print(a ** b)   # Exponentiation → 10 raised to the power 12 = 1000000000000

22
-2
120
0.8333333333333334
10
0
1000000000000

In [ ]:
# Assignment Operator


a = 10     # Assign → a = 10
print(a)   # Output: 10

a += 5     # Add and assign → a = a + 5 = 15
print(a)   # Output: 15

a -= 3     # Subtract and assign → a = a - 3 = 12
print(a)   # Output: 12

a *= 2     # Multiply and assign → a = a * 2 = 24
print(a)   # Output: 24

a /= 4     # Divide and assign → a = a / 4 = 6.0
print(a)   # Output: 6.0

a %= 4     # Modulus and assign → a = a % 4 = 2.0
print(a)   # Output: 2.0

10
15
12
24
6.0
2.0

In [ ]:
# Relational / Comparison Operator

a = 10
b = 12

print(a == b)   # Equal to → False (10 is not equal to 12)
print(a != b)   # Not equal to → True (10 is not equal to 12)
print(a > b)    # Greater than → False (10 is not greater than 12)
print(a < b)    # Less than → True (10 is less than 12)
print(a >= b)   # Greater than or equal to → False (10 is not >= 12)
print(a <= b)   # Less than or equal to → True (10 is <= 12)

False
True
False
True
False
True

In [ ]:
# Why logical operator is used ----> just for checking multiple condtional statement


a = 10
b = 12

# and → dono conditions True hone chahiye
print(a > 5 and b > 5)     # True and True → True
print(a > 5 and b < 5)     # True and False → False

# or → koi ek condition True ho to result True
print(a > 5 or b < 5)      # True or False → True
print(a < 5 or b < 5)      # False or False → False

# not → condition ka ulta
print(not(a > 5))          # not(True) → False
print(not(b < 5))          # not(False) → True

True
False
True
False
False
True

In [ ]:
# Bitwise operator

a=10
b=8

# Bitwise AND → compares each bit of a and b (1 if both bits are 1)
print(a & b)  # 10 & 13 → 1010 & 1101 = 1000 (binary) = 8

# Bitwise OR → compares each bit (1 if at least one bit is 1)
print(a | b)  # 10 | 13 → 1010 | 1101 = 1111 (binary) = 15

# Bitwise XOR → compares each bit (1 if bits are different)
print(a ^ b)  # 10 ^ 13 → 1010 ^ 1101 = 0111 (binary) = 7

# Bitwise NOT → inverts all bits (~x = -(x+1))
print(~a)  # ~10 = -(10+1) = -11
print(~b)  # ~13 = -(13+1) = -14

# Left shift → moves bits to the left (multiply by 2 for each shift)
print(a << 1)  # 10 << 1 → 1010 → 10100 (binary) = 20           [a*2^1]

# Right shift → moves bits to the right (divide by 2 for each shift)
print(a >> 1)  # 10 >> 1 → 1010 → 0101 (binary) = 5            [a/2^1]


print(a<<2)              # [a*2^2] ---> [10*4]

print(a>>2)
print(a>>3)
print(a>>4)
print(a>>5)                # Not exceed after 0

8
10
2
-11
-9
20
5
40
2
1
0
0

In [ ]:
# Identity Operators: 'is' and 'is not'
# They check if two variables refer to the SAME object in memory, not just equal values

a = [1, 2, 3]
b = a          # b points to the SAME list object as a
c = [1, 2, 3]  # c has the same values but is a DIFFERENT object

print(a is b)      # True → both a and b point to the same object in memory
print(a is c)      # False → values are same but memory locations are different
print(a is not c)  # True → a and c are different objects

True
False
True

In [ ]:
# Membership Operators: 'in' and 'not in'
# They check if a value exists inside a sequence (list, tuple, string, set, dictionary)

numbers = [1, 2, 3, 4, 5]
name = "Python"

# 'in' → True if present
print(3 in numbers)       # True → 3 is in the list
print("Py" in name)       # True → "Py" is in "Python"

# 'not in' → True if NOT present
print(10 not in numbers)  # True → 10 is not in the list
print("Java" not in name) # True → "Java" is not in "Python"

True
True
True
True

# **Conditional Statement (if,else,for,while...etc)**

**Purpose of Indentation**:

* It defines which lines of code belong to a specific block (like loops, functions, or conditionals).

* Makes the code more readable and organized.
Standard Practice:

* Use  1, 2, 3, 4 spaces per indentation level (or 1 tab).

* Be consistent and maintain uniform.

* Indentation Errors:

      Missing or inconsistent indentation leads to an IndentationError.

# **=========== IF ELSE STATEMENT =============**


Basic Logic

* if → checks a condition (True/False).

* If the condition is True → the if block runs.

* If the condition is False → the else block runs.


How many ways to write if else statement

* Simple if else Statement
* if...elif...else Ladder
* Nested if Statement
* Ternary (Single-Line) if...else

In [ ]:
print("----------Simple if else statement-------------- \n")

a=2
b=3
if(a>b):
  print("If condition ")
elif a==b:
 print("else condition")
else:
 print(" Hello Learner ")

----------Simple if else statement--------------

 Hello Learner

In [ ]:
print("----------if...elif...else Ladder-------------- \n")

marks = 78                          # Checks each condition in order.
if marks >= 90:                     # Runs the first one that is True and skips the rest.
    print("Grade A")
elif marks >= 75:
    print("Grade B")
elif marks >= 50:
    print("Grade C")
else:
    print("Fail")

----------if...elif...else Ladder--------------

Grade B

In [ ]:
print("---------- Nested if Statement -------------- \n")

age = 20                              # An if inside another if.
citizen = True                        # Used when  need to check conditions within conditions.

if age >= 18:
    if citizen:
        print("You can vote.")
    else:
        print("Not eligible to vote.")

---------- Nested if Statement --------------

You can vote.

In [ ]:
print("---------- Ternary (Single-Line) if...else -------------- \n")

age = 20
status = "Adult" if age >= 18 else "Minor"
print(status)

---------- Ternary (Single-Line) if...else --------------

Adult


# **=========== FOR LOOP =============**

1. It is used to repeat a block of code for a fixed number of iterations.

  Each iteration assigns a value from the sequence (created by range(3)) to the variable i.

2. range(start,stop,step):

  * range(n) generates a sequence of numbers starting from 0 up to (but not including) n.
In this case, range(3) produces the numbers: 0, 1, 2.

3. **Variable i:**

  * i is a loop variable that takes on the values in the sequence one by one during each iteration.

4. **Colon : and Indented Block:**

  * The colon : marks the start of the code block.

  * Indented lines below the for loop are executed once for each value of i.

**key points**
* The step is 1 by default.
* if we gives only one values it's consider as stop but it's execute (n-1) times

In [ ]:
for i in range(5):              #  # only stop value is given
  print(i)

print("Understanding the range function with start and stop ")

for i in range(1,5):
  print(i)

print("Understanding the range function with start and stop and step ")

for i in range(1,5,2):
  print(i)

0
1
2
3
4
Understanding the range function with start and stop
1
2
3
4
Understanding the range function with start and stop and step
1
3

In [ ]:
fruits=["apple","banana","cherry"]
for x in fruits:
  print(x)
  if x == "banana":
   break

print("\n\n\n")
fruits=["apple","banana","cherry"]
for x in fruits:
  print(x)
  if x == "banana":
   continue
  print(x)

apple
banana




apple
apple
banana
cherry
cherry

# **============= While Loop ===============**

* The condition is checked before the loop starts.

* If the condition is True, the code inside the loop is executed.
* If the condition is False, the loop ends, and the program continues with the next line of code.
* After each iteration, the condition is checked again.

* If the condition never becomes False, the loop will run indefinitely (this is called an infinite loop)

In [ ]:
print("Basic while Loop")
count = 1
while count <= 5:
    print(count)
    count += 1


#while True:
print("\nInfinite while Loop")


print("\nUsing a break Statement")
count = 1
while True:
    print(count)
    count += 1
    if count > 5:
        break
print("\nUsing a continue Statement")
count = 0
while count < 5:
    count += 1
    if count == 3:
        continue  # Skip the rest of the code for this iteration
    print(count)

Basic while Loop
1
2
3
4
5

Infinite while Loop

Using a break Statement
1
2
3
4
5

Using a continue Statement
1
2
4
5


**When we nee to use the for loop**

    1. when iterating over a predefined collection or range.

**When we need to use the while loop**

    1. when you don’t know the exact number of iterations and need to loop until a condition is met.

# **========== FUNCTION IN PYTHON =============**

1. Functions are reusable blocks of code, and modules allow us to organize and reuse code.

TYPES :
  * Built-in Functions → Already provided (e.g., print(), len(), sum()).

  * User-defined Functions → Functions you create yourself using def.

  * Lambda Functions → Small anonymous functions using lambda.

Writing Functions:


  * Defining a Function → Use def keyword.

  * Calling a Function → Write the function name followed by ().

  * Parameters → Input values that a function can take.

  * Return Value → Output that a function can give back using return.

     Syantax -  
                def function_name(parameters):
                  code block
                  return value

# Function Definition → Define reusable code with def.

In [ ]:
print("===== Function without parameter ===== \n\n")

def greet():
    print("Hello, welcome to Python!")

greet()  # function call

===== Function without parameter =====


Hello, welcome to Python!

In [ ]:
print("===== Function with return value ===== \n\n")


def add(a, b):
    return a + b

result = add(5, 3)
print(result)

===== Function with return value =====


8

# Positional Arguments → Values must follow correct order.

In [ ]:
def info(name, age):
    print(name, age)

info("Mohit", 21)
info(21,"Mohit")    # Position/ order of argument is not followed correctly

Mohit 21
21 Mohit

# Default Arguments

1. Default argument
          
       * parameter with pre-assigned value.
       * default value assign left to right but make sure no non-default after a defaul

        Ex :  def func(a=10, b, c=20):       

       * In Python, once you give a parameter a default value,
       * all the parameters to its right must also have default values.
       * You cannot have a non-default parameter after a default parameter.

2. Used only when caller doesn’t give a value.

3. User’s value overrides the default.

4. Default arguments must always come after positional arguments → else error.

5. Default values are evaluated once at definition time.

6. Avoid mutable objects as defaults (they persist between calls).

In [ ]:
def greet(name, age=18, city="Delhi"):
    print(f"Hello {name}, Age={age}, City={city}")

# Case 1: Only name → age & city take default
greet("Mohit")
# Output: Hello Mohit, Age=18, City=Delhi

# Case 2: Override age
greet("Chetan", 21)
# Output: Hello Chetan, Age=21, City=Delhi

# Case 3: Override age & city
greet("Raj", 25, "Mumbai")
# Output: Hello Raj, Age=25, City=Mumbai





# Error Case 1: Default before non-default

# def wrong(age=18, name):   # SyntaxError



# Error Case 2: Too few arguments

# greet()   # TypeError: missing required argument 'name'


# Error Case 3: Multiple values for same argument

# greet("Mohit", age=20, city="Delhi", name="Raj")            # # TypeError: got multiple values for argument 'name' (Exceed the limit of argument)

Hello Mohit, Age=18, City=Delhi
Hello Chetan, Age=21, City=Delhi
Hello Raj, Age=25, City=Mumbai

In [ ]:
def func(a=10, b, c=20):
    print(a, b, c)

func(5)                                 # why error occur beacuse when we passing a value at funtion calling is pass to funtion left to right
                                        # if we need to give a defalut value then make sure no non-default after a default

# Variable Length Argument

      *args → Collects extra positional arguments as tuple.
      **kwargs → Collects extra keyword arguments as dictionary.

In [ ]:
def add(*args):
    print(sum(args))

add(1, 2, 3, 4)   # 10




def info(**kwargs):
    print(kwargs)

info(name="Mohit", age=20)   # {'name': 'Mohit', 'age': 20}

10
{'name': 'Mohit', 'age': 20}

# Recursion

  ➡ Function calling itself.

In [ ]:
def fact(n):
    return 1 if n==0 else n * fact(n-1)

print(fact(5))   # 120

120

**======== Lamda Function ========**

* A lambda function is a small, anonymous function (meaning it has no name).

* Created using the lambda keyword.

* Can take any number of arguments but can only have one expression.

* Used for short, simple operations where defining a full function with def is not necessary.

   Syntax :
           lambda arguments: expression


* arguments → input values (like parameters).

* expression → calculated and returned automatically.

In [ ]:
print("Lambda Function : ")


square = lambda x: x ** 2
print(square(5))

Lambda Function :
25