<a href="https://colab.research.google.com/github/KASHYAPCHETAN438/Core-Python/blob/main/String_In_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ============= Basic of String ===============

 # **Creation of list**

In [ ]:



s='Hello world'           # String Type '' single Quote
print(s)
print(type(s))


k="Double Quote used"           # String Type ""
print("\n",k)
print(type(k))


j='''Triple Quote used
     my name is Ram
                    '''                                      # String Type ''''''   allowed multiple line of code
print("\n",j)
print(type(j))

 # **Accessing Characters**

In [ ]:
print(s[0])   # 'H' (first char)
print(s[-1])  # 'd' (last char)

H
d

 # **Slicing**

        Slicing in Python means extracting a portion of a string (or list) using [start:end:step]

        i). start → where to begin (default = start of string)

        ii). end → where to stop (default = end of string)

        iii). step → how much to move (positive = left→right, negative = right→left)

        Ex: s = "HelloWorld"
            print(s[::-1])         Negative Move
            print(s[: : 1])        Positive move

        Ex :   s = "HelloWorld"
               print(s[0:5])   # by defult one positive move
          
        Here, it takes characters from index 0 to 4 (start inclusive, end exclusive)

In [ ]:
print(s[0:5])   # 'Hello'
print(s[6:])    # 'World'
print(s[:])     # 'Hello World' (whole string)
print(s[::-1])  # 'dlroW olleH' (reverse)

print(s[: : -2])

Hello
World
Hello World
dlroW olleH
drWolH

# **Concatenation & Repetition**

In [ ]:
a = "Hello"
b = "World"
print(a + " " + b)   # Hello World
print(a * 3)         # HelloHelloHello

Hello World
HelloHelloHello

#  **String Comparison**

In [ ]:
print("apple" == "apple")   # True
print("apple" < "banana")   # True
print("cat" > "bat")        # True

True
True
True

#  **Membership**

In [ ]:
print("Hello" in s)      # True
print("Hi" not in s)     # True

True
True

# **======== String Methods =========**

# 1. upper()/ lower() :
    
       * It is used to capitalize or convert all the characters into small case by using these functions
        ob= str.upper()
        ob= str.lower()

In [2]:
s = "Hello World"
print(s.upper())   # "HELLO WORLD"
print(s.lower())   # "hello world"

HELLO WORLD
hello world


# 2. strip(), lstrip(), rstrip() :

        * strip() functions is used to remove all the leading and trailing spaces from a string.
        * lstrip() : removes only left side spaces
        * rstrip() : removes only right side spaces

In [3]:
s = "   Mohit   "
print(s.strip())   # "Mohit"
print(s.lstrip())  # "Mohit   "
print(s.rstrip())  # "   Mohit"

Mohit
Mohit
   Mohit

# 3. replace() :
  
       * this functions will replace all the occurrences of a particular word/character with new word/character in the string.
         ob = str.replace(oldvalue, newvalue)

In [4]:
s = "I like Java"
print(s.replace("Java", "Python"))   # "I like Python"

I like Python

# 4. split() :

       * It is used to split a string into multiple parts and returns a list of elements according to the given delimiter/separator.
       * By default split function has space as delimiter.
       * If you want to separate a string by using any other separator or delimiter, then you need to specify it while using split function.

        syntax : str.split(sep=" ", maxsplit=-1)
       
       * sep= : separator by using which we can separate a string into a list of elements.
                it can be any character or word.

       * maxsplit: it is the max number of splits we need in our string.
                    By default value of maxsplit is -1 which means no limit on number of splits.

In [5]:
s = "apple,banana,grapes"
print(s.split(","))    # ['apple', 'banana', 'grapes']

['apple', 'banana', 'grapes']

# 5. join() :

       * This function is used to join the elements in the iterable into a single string, using the given string as a separator.

        Syntax :  var = separator.join(iterable)

       * separator: a string or character which is used to separate words in a string is a separator.
       * iterable : it is the list of elements which we want to split or join like listob, tuple, set array etc.

In [6]:
words = ['I', 'love', 'Python']
print(" ".join(words))   # "I love Python"

I love Python

# 6. find() :

       * It is used to fetch an elements,sub-string, character in the given string.
       * It returns the index of the first occurrence of the string.
       * if the search value is not there in the string,then it returns the -1.

        syntax:-  str.find(substring, start=0, end=-1)

       * start = 0 : means the search will start from 0 index by default. otherwise you can also provide a value for start. In that case, search will start from given index value.

       * end=-1 : it means to fetch the given substring until the given end index. By default end=-1, which means it will fetch the value in the entire length of the string.

In [7]:
s = "Python is fun"
print(s.find("is"))     # 7
print(s.find("Java"))   # -1

7
-1

# 7. count() :

       * It is used to count the number of occurrences of a substring in the string.
    
          syntax:  str.count(substring, start=0, end=-1)

        * start=0: means the search will start from 0 index by default. otherwise you can also provide a value for start. In that case, search will start from given index value.

        * end=-1 : it means to fetch the given substring until the given end index. By default end=-1, which means it will fetch the value in the entire length of the string

In [8]:
s = "banana"
print(s.count("a"))   # 3

3

# 8. startswith()/ endswith()

        * startswith(): it returns true if the string is starting with the given prefix, otherwise it returns false. in starts with function it starts checking from 0 index.

        * endswith(): it returns true if the string is ending with given suffix/substring, otherwise it returns false. in this function, it starts checking from last index and goes into reverse.

In [9]:
s = "hello.py"
print(s.startswith("he"))   # True
print(s.endswith(".py"))    # True

True
True

# 9. isalpha()/ isdigit()/islower()/isupper()/isalnum()

      * these functions are used to check their particular value and  
      * returns true if the value is found, otherwise returns false.

In [10]:
print("Mohit".isalpha())   # True  (only letters)
print("1234".isdigit())    # True  (only digits)
print("hello".islower())   # True
print("HELLO".isupper())   # True
print("Mohit123".isalnum()) # True (letters + digits, no space/special char)

True
True
True
True
True

 # 10.  String Formatting



*  Using % Operator (Old Style)
  
       i). This method uses % followed by a format specifier (e.g., %d for integers, %s for strings) to insert values.

* Using str.format() Method (Recommended):*

      ii). Here, {} are placeholders, and values are passed using the format() method.


* Using f-strings (Python 3.6+):

      iii). The most modern and preferred method. Use {} directly within the  string to embed variables or expressions.

In [12]:
print("Using % Operator (Old Style):")
name ="Chetan"
age= 25
print("My name is %s and I am %d years old." % (name, age))


print("\nUsing str.format() Method (Recommended):")
name = "Chetan"
age = 25
print("My name is {} and I am {} years old.".format(name, age))

print("\nUsing f-strings (Python 3.6+)")
name = "Chetan"
age = 25
print(f"My name is {name} and I am {age} years old.")

Using % Operator (Old Style):
My name is Chetan and I am 25 years old.

Using str.format() Method (Recommended):
My name is Chetan and I am 25 years old.

Using f-strings (Python 3.6+)
My name is Chetan and I am 25 years old.

# 10. Lenght

In [15]:

st="Hello delhi"
print(len(st))   # 11

11

# **======== String Comparison operator =========**

# 1. Equality

In [ ]:
print(" --------- Equality --------- \n")

a = "hello"                   # compare complete string one by one
b = "hell0"
c = "world"
d="hell"

print(a == b)   # True
print(a == c)   # False
print(a != c)   # True
print(a == d)   # False

 --------- Equality ---------

False
False
True
False

# 2. Lexicographic Comparison

In [13]:
# Lexicographic comparison means comparing strings in dictionary order, character by character, using their Unicode (ASCII) values

print(" --------- Lexicographic Comparison (Dictionary Order --------- \n")

print("apple" < "banana")   # True (because 'a' < 'b')     check only frist character
print("grape" > "guava")    # False (because 'r' < 'u')    check first character and go for second (when both first character is equal)
print("Cat" < "cat")        # True (because ASCII value: 'C'=67, 'c'=99)

 --------- Lexicographic Comparison (Dictionary Order ---------

True
False
True

# 3. Case-Insensitive Comparison

In [ ]:
print(" --------- Case-insensitive Comparison --------- \n")

a = "Hello"
b = "hello"

print(a == b)                 # False
print(a.print(" --------- Case-insensitive Comparison --------- \n")

a = "Hello"
b = "hello"

print(a == b)                 # False
print(a.lower() == b.lower()) # True
lower() == b.lower()) # True

# 4. Sorting with Comparison

In [ ]:
print(" --------- Sorting with Comparison --------- \n")

words = ["banana", "apple", "cherry"]
print(sorted(words))  # ['apple', 'banana', 'cherry']

# **------- String Common Operation --------**

 # 1. Case Conversion

In [ ]:
print(s.lower())      # hello world
print(s.upper())      # HELLO WORLD
print(s.title())      # Hello World
print(s.capitalize()) # Hello world
print(s.swapcase())   # hELLO wORLD

hello world
HELLO WORLD
Hello World
Hello world
hELLO wORLD

# 2. Searching

In [ ]:
print(s.find("World"))   # 6
print(s.index("World"))  # 6
print(s.count("l"))      # 3

6
6
3

# 3. Checking

In [ ]:
print(s.isalpha())   # False (space bhi hai)
print("Hello".isalpha())  # True
print("123".isdigit())    # True
print("hello".islower())  # True
print("HELLO".isupper())  # True
print("  ".isspace())     # True

False
True
True
True
True
True

# 4. Modifying

In [ ]:
print(s.replace("World", "Python"))  # Hello Python
print("   hi   ".strip())            # 'hi'
print("hi".center(10, "-"))          # ---hi-----
print(",".join(["a","b","c"]))       # a,b,c
print("a,b,c".split(","))            # ['a','b','c']

Hello Python
hi
----hi----
a,b,c
['a', 'b', 'c']

# 5. Reversing

In [ ]:
print(s[::-1])  # dlroW olleH

# 6. Length

In [ ]:
print(len(s))   # 11

11