<a href="https://colab.research.google.com/github/KASHYAPCHETAN438/Core-Python/blob/main/Advance-Data-Type%20(structure).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Advanced Data Types & Structures**

------
# **LIST**

* Heterogeneous:
  * It can store multiple data types (e.g., int, string, float, etc.)

*  Mutable:
   * change, add, or remove elements.

* Duplicates Allowed:
  * Same value can appear multiple times.

* Not Unique:
    
     i). Values don’t need to be unique
     
     ii). Elements are stored in a contiguous memory location.

* Order:
  * Maintains insertion order.


      Syntax: [item1, item2, ...]

In [ ]:
# we can define a list with list([1,2,3]) constructor or simple a=[12,5,4,7]
# List(1,2,3,8 )---> Give error because List is a constructor which accepts only one argument")


print("\n============ List (Mutable , Duplicate , Order )======================\n")


l=[1,2,3,1]           # List Type []  it can store multiple types of data , allowed duplicate
print(l)
print(type(l))


cities_and_number=[1,"Delhi",2.4,[1,2,3],1]        # Duplicates allowed
print(cities_and_number)
print(type(cities_and_number))

cities_and_number.append(7)                       # Mutable , Order
print("\n",cities_and_number)


l=list([1,2,3,8])
print("\n",l)                  # creating list using list() constructor



 # print("\n\n\n",list(1,2,3,8 ))      # error

============ List (Mutable , Duplicate , Order )======================

[1, 2, 3, 1]
<class 'list'>
[1, 'Delhi', 2.4, [1, 2, 3], 1]
<class 'list'>

 [1, 'Delhi', 2.4, [1, 2, 3], 1, 7]

 [1, 2, 3, 8]

In [ ]:
# List all method

lst = [1,2,3]
lst.append(4)       # [1,2,3,4]
lst.extend([5,6])   # [1,2,3,4,5,6]
lst.insert(1,100)   # [1,100,2,3,...]
lst.remove(2)       # removes first occurrence of 2
lst.pop()           # removes last item
lst.index(3)        # 2
lst.count(3)        # 1
lst.sort()          # [1,2,3,...]
lst.reverse()       # reverse order
lst.copy()          # shallow copy
lst.clear()         # []

In [ ]:
# List method with details

lst = [1, 2, 3]
print("Initial:", lst)

lst.append(4)
print("After append(4):", lst)       # [1, 2, 3, 4]

lst.extend([5, 6])
print("After extend([5,6]):", lst)   # [1, 2, 3, 4, 5, 6]

lst.insert(1, 100)
print("After insert(1,100):", lst)   # [1, 100, 2, 3, 4, 5, 6]

lst.remove(2)
print("After remove(2):", lst)       # removes first occurrence of 2

popped = lst.pop()
print("After pop():", lst, "| Popped value:", popped)

idx = lst.index(3)
print("Index of 3:", idx)

cnt = lst.count(3)
print("Count of 3:", cnt)

lst.sort()
print("After sort():", lst)

lst.reverse()
print("After reverse():", lst)

copied = lst.copy()
print("Copy of list:", copied)

lst.clear()
print("After clear():", lst)

Initial: [1, 2, 3]
After append(4): [1, 2, 3, 4]
After extend([5,6]): [1, 2, 3, 4, 5, 6]
After insert(1,100): [1, 100, 2, 3, 4, 5, 6]
After remove(2): [1, 100, 3, 4, 5, 6]
After pop(): [1, 100, 3, 4, 5] | Popped value: 6
Index of 3: 2
Count of 3: 1
After sort(): [1, 3, 4, 5, 100]
After reverse(): [100, 5, 4, 3, 1]
Copy of list: [100, 5, 4, 3, 1]
After clear(): []

# List Comprehensions

* Compact way to create lists.

      Syntax:  
                [expression for item in iterable if condition]

      * `expression` → value which is store in list  
      * `item` → element from iterable  
      * `condition` → (optional) use for filter    

* Internally uses LIST_APPEND bytecode (optimized append) Not call apped().

* Faster execution than normal for loop with append().

* Reduces function call overhead.

* Cleaner and more readable code.

* Can be nested (a comprehension inside another comprehension).

In [ ]:
# Without list comprehension
list1 = ["apple", "banana", "cherry"]
newlist = []
for x in list1:
    if "apple" in x:
        newlist.append(x)
print("Without list comprehension:", newlist)

# With list comprehension
list1 = ["apple", "banana", "cherry"]
newlist = [x for x in list1 if "apple" in x]
print("With list comprehension:", newlist)

Without list comprehension: ['apple']
With list comprehension: ['apple']

In [ ]:
# Avoid using 'list' as a variable name
newlist = [x for x in range(1, 10, 2)]
print(newlist)

list1 = [x for x in range(1, 10, 2) if x < 5]
print(list1)

#square = list(map(lambda x:x**2,range(10)))
#print(square)

sq = [x**2 for x in range(10)]
print(sq)

pairs = [(x, y) for x in [1, 2, 3] for y in [3, 1, 4] if x != y]
print(pairs)

[1, 3, 5, 7, 9]
[1, 3]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [ ]:
newlist = [1, 2, 8, 45, 7,"Ram",2.5]
print(newlist)
item=input("Enter the item which you want to serach : ")

a=isinstance(item,(int, float, bool))
print(a)

b=isinstance(item,int)
print(b)

print(item.isdigit())

if item in newlist:
  print(f"{item} is present in list")
else:
  print(f"{item} is not present in list")

[1, 2, 8, 45, 7, 'Ram', 2.5]
Enter the item which you want to serach :
False
False
False
 is not present in list

In [ ]:
list1 =[22,56,232,29,129,23,88,12,48]
# print elements one by one
[print(x) for x in list1]
# create a list of even numbers from the list1
list2 = [x for x in list1 if x%2==0]
print("List 2 : ", list2)
# create a new list of squares of the given values in the list
squares = [x*x for x in list1]
print("Square : ", squares)
# filter odd numbers from a range of numbers
odds = [num for num in range(11,22) if num%2!=0]
print("Odd numbers between 11 and 22 : ", odds)
# input values in list comprehension
# we will create a list from user input which has number separated by space
# get the numbers and store them into the list

nums = [int(x) for x in input("Enter numbers separated by space : ").split()]
print("Numbers : ", nums)

# input in list comprehension by condition
nums1 = [int(x) for x in input("Enter Numbers : ").split() if int(x)%2==0]
print("Even Numbers : ", nums1)

22
56
232
29
129
23
88
12
48
List 2 :  [22, 56, 232, 88, 12, 48]
Square :  [484, 3136, 53824, 841, 16641, 529, 7744, 144, 2304]
Odd numbers between 11 and 22 :  [11, 13, 15, 17, 19, 21]
Enter numbers separated by space : 01
Numbers :  [1]
Enter Numbers : 12
Even Numbers :  [12]

------
# **DICTIONARY**

* Heterogeneous:
  * Both keys and values can be of different data types.

* Not Contiguous:
  * Does not store elements in contiguous memory.

* Order:
  * Maintains insertion order (from Python 3.7+).

* Mutable:
  * Keys and values can be modified, added, or removed.

* Keys Unique:
  * Keys must be unique, but values can repeat.

* Key-Value Pair:
  * Each item is stored as key : value
  * value may be heterogeneous

        Syntax: {key: value, ...}

* Key Characteristics

   * Keys must be immutable → (str, int, tuple, etc.).

   * Values can be anything → mutable or immutable (list, dict, set, str, etc.).

* Dictionary stores data as a mapping:
    * key → value
    * store values in the hash table.

In [ ]:
# Each key is unique. If a key is repeated, the last assigned value overwrites the old one.

d = {"a": 1, "b": 2, "a": 100}
print(d)   # {'a': 100, 'b': 2}

print(hash("a"))

{'a': 100, 'b': 2}
9140978294713537628

In [3]:
print("\n ============ ordered, mutable, No duplicates ================\n")


# how to create a dictionary?

# first option is to provide key value pairs separated by commas inside the curly brackets.

d1 = {"Id":101, "Name": "Ajay Kumar", "Age":23, "Salary": 78000}
print("\nd1 : ", d1)

# second option is to use the dictionary constructor(dict())
d2 = dict(Id=102, Name="Garima", Age=27, Salary=90000)
print("\nd2 : ",d2)
print("\nId : ", id(d2))




d = {"Name": "Chetan", "Age": 20, "City": "Pune"}
print("\n",d)                                                        # See the order of keys

# Add a new key
d["Country"] = "India"
print("\n",d)                                                          # Check if keys stay in insertion order



d["Country"] = "US"                                               # Mutable
print("\n",d)

d["Country"] = "US"                                               # No duplicate allow
print("\n",d)


# Iterate over keys
for key in d:
    print("\n",key)

 ============ ordered, mutable, No duplicates ================


d1 :  {'Id': 101, 'Name': 'Ajay Kumar', 'Age': 23, 'Salary': 78000}

d2 :  {'Id': 102, 'Name': 'Garima', 'Age': 27, 'Salary': 90000}

Id :  132785915828288

 {'Name': 'Chetan', 'Age': 20, 'City': 'Pune'}

 {'Name': 'Chetan', 'Age': 20, 'City': 'Pune', 'Country': 'India'}

 {'Name': 'Chetan', 'Age': 20, 'City': 'Pune', 'Country': 'US'}

 {'Name': 'Chetan', 'Age': 20, 'City': 'Pune', 'Country': 'US'}

 Name

 Age

 City

 Country

In [ ]:
# Dictionary method

d = {"a":1, "b":2}
d.keys()          # dict_keys(['a','b'])
d.values()        # dict_values([1,2])
d.items()         # dict_items([('a',1),('b',2)])
d.get("a")        # 1
d.update({"c":3}) # {'a':1,'b':2,'c':3}
d.pop("b")        # remove key 'b'
d.popitem()       # removes last inserted
d.setdefault("x",0) # adds key if missing
d.clear()         # {}

In [ ]:
# with output

d = {"a": 1, "b": 2}
print("Initial:", d)

print("Keys:", d.keys())              # dict_keys(['a','b'])
print("Values:", d.values())          # dict_values([1,2])
print("Items:", d.items())            # dict_items([('a',1),('b',2)])

print("Get 'a':", d.get("a"))         # 1

d.update({"c": 3})
print("After update({'c':3}):", d)    # {'a':1,'b':2,'c':3}

removed = d.pop("b")
print("After pop('b'):", d, "| Removed value:", removed)  # remove key 'b'

last_item = d.popitem()
print("After popitem():", d, "| Removed item:", last_item) # removes last inserted

d.setdefault("x", 0)
print("After setdefault('x',0):", d)   # adds 'x' if missing

d.clear()
print("After clear():", d)             # {}

Initial: {'a': 1, 'b': 2}
Keys: dict_keys(['a', 'b'])
Values: dict_values([1, 2])
Items: dict_items([('a', 1), ('b', 2)])
Get 'a': 1
After update({'c':3}): {'a': 1, 'b': 2, 'c': 3}
After pop('b'): {'a': 1, 'c': 3} | Removed value: 2
After popitem(): {'a': 1} | Removed item: ('c', 3)
After setdefault('x',0): {'a': 1, 'x': 0}
After clear(): {}

In [ ]:
list1 = [34,53,29,19,49,348,359,29]
print("List before Sort : ", list1)
list1.sort()
print("List after Sort : ", list1)

list1.sort(reverse=True)
print("List after Sort (descending): ", list1)


list2 = ["banana", "apple", "mango", "kiwi", "cherry"]
list2.sort(key=len)
print("list2 with len as key", list2)


# list1.sort(key=len)
print("list1 with len as key : ", list1)

# key=abs  = absolute value  : it will sort values according to their absolute value

list3 = [-5,-3,-2,7,-9,3,-1]
list3.sort(key=abs)
print("List 3 after sorting with key=abs: \n",list3)

# key=str :  it will sort only the strings and will ignore the case of
# the strings.
names = ["Mamta", "Chetan", "Chandresh", " Anand", "Kavya","komal", "nitesh", "mohit","naina"]
print("names before sorting : ", names)
names.sort()
print("names after sorting : ", names)
names.sort(key=str.lower)
# # str.upper
print("names after sorting(key=str) : ", names)

# key=lambda
list2 = ["banana", "apple", "mango", "kiwi", "cherry", "banama", "banaoa"]
# eg  lambda x : x[-1] : it will sort the list by checking the last character
list2.sort(key=lambda x:x[-1])
# x = banana  , x[-1]- a,  x=apple   x[-1]=e
print("list 2 according to the last character :\n ", list2)

# lambda x: len(x)
list2.sort(key=lambda x:len(x))
print("list2 with length: ", list2)

list1= [45,13,99,19,29,10,394,29,58,39]
print("List 1 before Sorting : ", list1)
ob1 = sorted(list1)
print("List 1 after Sorting : ", list1)
print("ob1 after Sorting : ", ob1)

ob1.reverse()
print("ob1 after reverse : ", ob1)

ob2 = ob1.copy()
print("ob2 : ", ob2)

List before Sort :  [34, 53, 29, 19, 49, 348, 359, 29]
List after Sort :  [19, 29, 29, 34, 49, 53, 348, 359]
List after Sort (descending):  [359, 348, 53, 49, 34, 29, 29, 19]
list2 with len as key ['kiwi', 'apple', 'mango', 'banana', 'cherry']
list1 with len as key :  [359, 348, 53, 49, 34, 29, 29, 19]
List 3 after sorting with key=abs:
 [-1, -2, -3, 3, -5, 7, -9]
names before sorting :  ['Mamta', 'Chetan', 'Chandresh', ' Anand', 'Kavya', 'komal', 'nitesh', 'mohit', 'naina']
names after sorting :  [' Anand', 'Chandresh', 'Chetan', 'Kavya', 'Mamta', 'komal', 'mohit', 'naina', 'nitesh']
names after sorting(key=str) :  [' Anand', 'Chandresh', 'Chetan', 'Kavya', 'komal', 'Mamta', 'mohit', 'naina', 'nitesh']
list 2 according to the last character :
  ['banana', 'banama', 'banaoa', 'apple', 'kiwi', 'mango', 'cherry']
list2 with length:  ['kiwi', 'apple', 'mango', 'banana', 'banama', 'banaoa', 'cherry']
List 1 before Sorting :  [45, 13, 99, 19, 29, 10, 394, 29, 58, 39]
List 1 after Sorting :  [45, 13, 99, 19, 29, 10, 394, 29, 58, 39]
ob1 after Sorting :  [10, 13, 19, 29, 29, 39, 45, 58, 99, 394]
ob1 after reverse :  [394, 99, 58, 45, 39, 29, 29, 19, 13, 10]
ob2 :  [394, 99, 58, 45, 39, 29, 29, 19, 13, 10]


# Dictionary Comprehensions

* Create dictionary in one line.

   Syntax:
   
      {key: value for item in iterable if condition}

* Useful for transformations, filtering.

In [2]:
# Even numbers ka square store karna
even_squares = {x: x**2 for x in range(1, 11) if x % 2 == 0}
print(even_squares)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

------
# **TUPLE**

* Heterogeneous:
  * Can store multiple data types.

* Contiguous:
  * Elements are stored in contiguous memory.

* Order:
  * Maintains insertion order.

* Immutable:
  * Cannot change, add, or remove elements after creation.

* Duplicates Allowed:
  * Same value can appear multiple times.

* Not Unique:
  * Values don’t need to be unique.

          Syntax: (item1, item2, ...)

In [ ]:
# we can define a list with tuple(1,2,3) constructor , and a=(12,5,4,7)



print("\n#============Tuple==================\n")

t=(1,2,3,1)           # Tuple Type ()  it can store multiple types of data , allowed duplicate
# t[1]=5              # tuple is immutable we can't change , it don't have any method like add() , append()

print()
print(t)
print(type(t))



y=(1,1,"Delhi",2.4,[1,2,3])
print()
print(y)
print(type(y))



print("\n\n\n tuple(1,2,3,8 )---> Give error because tuple is a method which accepts only one argument")


t=tuple([1,2,3])                # create tuple using tuple() constructor
print("\n",t)

#============Tuple==================


(1, 2, 3, 1)
<class 'tuple'>

(1, 1, 'Delhi', 2.4, [1, 2, 3])
<class 'tuple'>



 tuple(1,2,3,8 )---> Give error because tuple is a method which accepts only one argument

 (1, 2, 3)

In [ ]:
t = (1,2,3,2)
t.index(2)   # 1
t.count(2)   # 2

2

------
# Sets

* Heterogeneous:
  * Stores multiple data types but as unique values.

* Not Contiguous:
  * Elements are not stored in contiguous memory.

* Unordered:
  * Does not maintain any order.

* Mutable:
  * You can add or remove elements, but values cannot be changed.

* Duplicates
  * Not Allowed: Only unique values are stored.

* Unique Items:
  * Ensures every element is distinct.

      Syntax: {item1, item2, ...}

* We can apply slicing in set

In [ ]:
print("\n ============ Set ================\n")


# Set (Unordered, Mutable, No duplicates)
s = {1, 2, 2, 3}              #  No error but it store only single element
print(s)                      # {1, 2, 3}
s.add(4)                      #  Works
print(s)



j={3,2,1,1}                  # unorder
print(j)

 ============ Set ================

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3}

In [ ]:
s = {1,2,3}
s.add(4)            # {1,2,3,4}
s.update([5,6])     # {1,2,3,4,5,6}
s.remove(2)         # KeyError if not exist
s.discard(10)       # safe remove
s.pop()             # remove random at star
s.clear()           # empty set
s.union({7,8})      # {1,2,3,4,5,6,7,8}
s.intersection({1,2}) # {1,2}
s.difference({2,3})   # {1}
s.issubset({1,2,3,4}) # True
s.issuperset({1,2})   # True

False

------
# Frozensets

* frozenset → Immutable set, elements can’t be added/removed.

In [ ]:
print("\n ============ FrozenSet ================\n")


# FrozenSet (Unordered, immutable, No duplicates)


# Normal set (mutable)
normal_set = {1, 2, 3}
print(normal_set)                            # {1, 2, 3}
normal_set.add(4)                            #  Works
print(normal_set)                            # {1, 2, 3, 4}



# Frozenset (immutable)
f_set = frozenset([1, 2, 3, 3, 2])
print(f_set)                                   # frozenset({1, 2, 3})

# f_set.add(4)                                 # ❌ ERROR: 'frozenset' object has no attribute 'add'




print()
f_set = frozenset([3, 1, 2])
print(f_set)                                       # frozenset({1, 2, 3}) → order may not match insertion

 ============ FrozenSet ================

{1, 2, 3}
{1, 2, 3, 4}
frozenset({1, 2, 3})

frozenset({1, 2, 3})

# **OPERATION ON DATASTRUCTURE**

---
# append(item):
  * append() is a built-in list method.
  * It adds a single element to the end of the list.
  * The list grows dynamically when you append
  * **Argument**
      * item → the element you want to add.
      * Only one argument is allowed at a time.
      * Can be of any data type:
        int, float, string, list, tuple, dict, object, etc

In [ ]:
lst = [1, 2, 3]
lst.append(4)
print(lst)  # [1, 2, 3, 4]

[1, 2, 3, 4]


 ---    
# insert(index, item):
  * insert() is a built-in list method.
  * It inserts a single element at a specified position (index) in the list.
  * The list shifts existing elements to the right to make space.
  * **Arguments**
       * index → position where the element should be inserted.
      
         (0 means beginning, -1 means before last element).
       * item → the element you want to add.
       * Only one element can be inserted at a time.
       * Can be of any data type:
         int, float, string, list, tuple, dict, object, etc.

In [ ]:
lst = [1, 2, 3]
lst.insert(1, 10)
print(lst)  # [1, 10, 2, 3]

[1, 10, 2, 3]


---
# **extend(iterable)**

   * extend() is a built-in list method.
   * It adds each element from the given iterable (like list, tuple, set, string)
     individually to the end of the list.
   * The list grows dynamically when you extend.
   * **Argument**
        * iterable → an iterable whose elements will be added one by one.
        * Common iterables: list, tuple, set, string, dictionary (keys only).

In [ ]:
lst = [1, 2, 3]
lst.extend([4, 5])
print(lst)  # [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]


---
# remove(item):
   * remove() is a built-in list method.
   * It removes the **first occurrence** of the specified item from the list.
   * If the item is not found, it raises a **ValueError**.
   * **Argument**
        * item → the element you want to remove.
        * Only one argument is allowed.
        * Can be of any data type:
          int, float, string, list, tuple, dict, object, etc.

In [ ]:
lst = [1, 2, 3, 2]
lst.remove(2)
print(lst)  # [1, 3, 2]  # first 2 removed

[1, 3, 2]

---
# pop(index , dealut=None):
   * pop() is a built-in list method.
   * It removes and **returns the item** at the specified index.
   * If no index is provided, it removes and returns the **last item**.
   * If the key is not found, it returns the default value
    
     (or raises a KeyError if not specified).
   * **Argument**
        * index (optional) → position of the element to remove.
          * Default: -1 (last element)
        * Must be an integer.

In [ ]:
lst = [1, 2, 3]
item = lst.pop(1)
print(item)  # 2
print(lst)   # [1, 3]

2
[1, 3]

---
# sort(key=None, reverse=False):
   * sort() is a built-in list method.
   * It sorts the elements of the list in **ascending order** by default.
   * The list is **modified in place** (does not return a new list).
   * **Arguments**
        * key (optional) → a function that serves as a key for sorting.
          
          Example: key = len, key = lambda x: x[1], etc.
        * reverse (optional) → Boolean, if True sorts in descending order.
          Default: False.

In [ ]:
lst = [3, 1, 2]
lst.sort()
print(lst)  # [1, 2, 3]

lst.sort(reverse=True)
print(lst)  # [3, 2, 1]

[1, 2, 3]
[3, 2, 1]


---
# reverse():
   * reverse() is a built-in list method.
   * It **reverses the order** of the elements in the list.
   * The list is **modified in place** (does not return a new list).
   * **Arguments**
        * None → takes no arguments.

In [ ]:
lst = [1, 2, 3]
lst.reverse()
print(lst)  # [3, 2, 1]

[3, 2, 1]

---

# count(item):
   * count() is a built-in list method.
   * Returns the number of times the specified item appears in the list.
   * **Argument**
        * item → the element whose occurrences are to be counted.
        * Only one argument is allowed.
        * Can be of any data type: int, float, string, list, tuple, dict, object, etc.

In [ ]:
lst = [1, 2, 2,2, 3]
print(lst.count(2))  # 3

3

---
# index(item, start=0, end=len(list)):
   * index() is a built-in list method.
   * Returns the **index of the first occurrence** of the specified item in the list.
   * **Arguments**
        * item → the element whose index is to be found.
        * start (optional) → starting index to search. Default: 0.
        * end (optional) → ending index to search. Default: len(list).
   * Raises **ValueError** if item is not found.

In [ ]:
lst = [1, 2, 3, 2]
print(lst.index(2))      # 1
print(lst.index(2, 2))   # 3

1
3



---

# copy():
   * copy() is a built-in list method.
   * Creates a **shallow copy** of the list.
   * The original list is **not affected**.
   * **Arguments**
        * None → takes no arguments.

In [ ]:
lst = [1, 2, 3]
new_lst = lst.copy()
print(new_lst)  # [1, 2, 3]

[1, 2, 3]

---
# clear():
   * clear() is a built-in list method.
   * Removes **all elements** from the list, leaving it empty.
   * Modifies the list in place.
   * **Arguments**
        * None → takes no arguments.

In [ ]:
lst = [1, 2, 3]
lst.clear()
print(lst)  # []

[]

---

# join(iterable):
   * join() is a **string method**, not a list method.
   * It joins elements of a list (or any iterable of strings) into a **single string** using the string as a separator.
   * **Argument**
        * iterable → an iterable containing **only string elements** (list, tuple, etc.).
        * If any element is not a string, it raises a **TypeError**.
   * Returns a **new string**. The original list is not modified.

In [ ]:
lst = ['a', 'b', 'c']
result = '-'.join(lst)
print(result)  # "a-b-c"

a-b-c


----
# **get(key, default=None):**
   * get() is a built-in dictionary method.
   * Returns the value associated with the specified key.
   * If the key is not found, it returns the **default value** (None if not specified).
   * **Arguments:**
        * key → the key whose value you want to retrieve.
        * default (optional) → value to return if the key is not found.
   * **Example:**
            
         python
         my_dict = {"a": 1, "b": 2}
         print(my_dict.get("a"))          # 1
         print(my_dict.get("c", 0))       # 0

In [ ]:
my_dict = {"a": 1, "b": 2}
print(my_dict.get("a"))       # 1
print(my_dict.get("c", 0))    # 0

1
0


-------

# **items():**
   * items() is a built-in dictionary method.
   * Returns a **view object** of the dictionary’s (key, value) pairs.
   * Can be converted to a list using `list(dict.items())`.
   * **Arguments:**
        * None → takes no arguments.
   * **Example:**
          
          python
          my_dict = {"a": 1, "b": 2}
          print(list(my_dict.items()))     # [('a', 1), ('b', 2)]

In [ ]:
my_dict = {"a": 1, "b": 2}
print(list(my_dict.items()))  # [('a', 1), ('b', 2)]

[('a', 1), ('b', 2)]


------
# **keys():**
   * keys() is a built-in dictionary method.
   * Returns a **view object** of all the keys in the dictionary.
   * Can be converted to a list using `list(dict.keys())`.
   * **Arguments:**
        * None → takes no arguments.

In [ ]:
my_dict = {"a": 1, "b": 2}
print(list(my_dict.keys()))   # ['a', 'b']

['a', 'b']


------

# **values()**

  * values() is a built-in dictionary method.

  * It returns a view object of all the values in the dictionary.

  * The view object can be converted to a list using list(dict.values()).

  * **Arguments**

      * None → takes no arguments.

In [ ]:
my_dict = {"a": 1, "b": 2}
print(list(my_dict.values()))  # [1, 2]

[1, 2]

-------

# **update(other_dict / iterable)**

  * update() is a built-in dictionary method.

  * It updates the dictionary with key-value pairs from another dictionary or iterable of pairs.

  * Existing keys are overwritten, new keys are added.

  * **Arguments**

      * other_dict → dictionary or iterable of key-value pairs to update.

      * Can be any dictionary or iterable like list of tuples, etc.

In [ ]:
my_dict = {"a": 1, "b": 2}
my_dict.update({"b": 3, "c": 4})
print(my_dict)  # {'a': 1, 'b': 3, 'c': 4}

{'a': 1, 'b': 3, 'c': 4}


-----
# **fromkeys(iterable, value=None)**

  * fromkeys() is a built-in dictionary class method.

  * It creates a new dictionary with keys from the given iterable and assigns them all the same value.

  * **Arguments**

      * iterable → an iterable containing keys.

      * value (optional) → value to assign to each key (default: None).

      * Returns a new dictionary.

In [ ]:
keys = ['a', 'b', 'c']
new_dict = dict.fromkeys(keys, 0)
print(new_dict)  # {'a': 0, 'b': 0, 'c': 0}

{'a': 0, 'b': 0, 'c': 0}


-------


# isinstance() :  
   * it is used to check whether the given object is an instance of a particular class or not.

   * Python uses this method to check whether the given object is part of the given class or not.

      Syntax :     
              
         isinstance(object, classinfo)
   * object :  the variable or the reference variable
   * classinfo:  the type of class you want to check against(like int, float, str, tuple etc.)

In [ ]:
x = 10
print(isinstance(x, int))   # True
print(isinstance(x, float)) # False

y = [1, 2, 3]
print(isinstance(y, list))  # True
print(isinstance(y, tuple)) # False

True
False
True
False


---
# eval() :
   
   * eval() evaluates a string as a Python expression.

   * When we take input from a user using input(), it is always a string.

   * We can use eval() to convert that string into its corresponding Python object like int, float, list, tuple, etc.
   * Converts a **string into its corresponding Python literal**.
   

      Syntax:
                    
          eval(expression, globals=None, locals=None)

   * **Arguments**:
      * expression →  A string containing a valid Python expression, must required.
      * globals →  A dictionary to specify global variables for evaluation.
      * locals →   A dictionary to specify local variables for evaluation.
   * Returns the evaluated Python object.

In [ ]:
x = "3 + 5"
print(eval(x))  # 8

y = "[1, 2, 3]"
print(eval(y))  # [1, 2, 3]

z = "2.5 * 2"
print(eval(z))  # 5.0

8
[1, 2, 3]
5.0

---
# Enumerate() :
  * it is used to traverse a list of elements. It provides the given elements in an iterable.
  * Basically it returns two values when used, first is index of the  current element and second is the current element.

       Syntax:
                 
            enumerate(iterable, start=0)
  * iterable means any iterable object like list, tuple,string etc.
  * start is the default index from which it starts traversing.

In [ ]:
lst = ['a', 'b', 'c']
for index, value in enumerate(lst):
    print(index, value)


# Custom start index
for index, value in enumerate(lst, start=1):
    print(index, value)

0 a
1 b
2 c
1 a
2 b
3 c

In [ ]:
# Take input from user
l=[1,2,2.5,"ram"]
user_input = input("Enter a number: ")  # e.g., user enters 10

# Convert input to its literal using eval
value = eval(user_input)

print("Value:", value)
print("Type:", type(value))

Enter a number: 15
Value: 15
Type: <class 'int'>

In [ ]:
l=[1,2,4,5,1.2,"Hello"]

l.insert( 3,"World")
print(l)

[1, 2, 4, 'World', 5, 1.2, 'Hello']

------

# Extra Knowledge

# Which one is best Dictionary or Comprehensive dictionary and why ?

 **Normal Dictionary (with loop)**

    d = {}
    for x in range(5):
    d[x] = x * x

    # internally __setitem__  special method automatically call

👉 What happens internally:

* __setitem__(self, key, value) is called each time you write d[x] = x*x.

    * That means:  d.__setitem__(x, x*x) is executed.    
    
    * internally __setitem__  special method automatically call

    * Every loop iteration has a function call overhead.

* If the key already exists → Python may use __delitem__ first before overwriting.

* The loop itself requires bytecode jumps + function calls every iteration.

**Dictionary Comprehension**
    
    d = {x: x*x for x in range(5)}

👉 What happens internally:

* A dictionary comprehension runs in optimized C-level code.

* It builds the dictionary in one pass, directly creating key–value pairs.

* There is no repeated __setitem__ function call overhead.

* Fewer bytecode instructions are executed compared to the loop.

In [ ]:
s=[1,2,5,4]
s.pop(2)
print(s)

[1, 2, 4]

In [ ]:
# Proof that set.pop() is random (order not guaranteed)

for run in range(5):
    s = {10, 20, 30, 40, 50}
    popped = []
    while s:
        popped.append(s.pop())
    print(f"Run {run+1}: {popped}")

Run 1: [50, 20, 40, 10, 30]
Run 2: [50, 20, 40, 10, 30]
Run 3: [50, 20, 40, 10, 30]
Run 4: [50, 20, 40, 10, 30]
Run 5: [50, 20, 40, 10, 30]

In [ ]:
s = {10, 20, 30, 40, 50}
popped = []
while s:
    popped.append(s.pop())
print(popped)

[50, 20, 40, 10, 30]